

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand"  href="/">MyPicky.com</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item"><a class="nav-link"  href="{% url 'home' %}">Home</a></li>
        {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'restaurants:list' %}">Restaurant</a></li>
        <li class="nav-item"><a class="nav-link"  href="{% url 'menus:list' %}">Menus</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link"  href="{% url 'contact' %}">Contact</a></li>
        <li class="nav-item"><a class="nav-link"  href="{% url 'about' %}">About US</a></li>
        {% if request.user.is_authenticated %}
          <li class="nav-item text-right"></li>
          <li class="nav-item text-right">
            <a class="nav-link"  href="{% url 'logout' %}">
              LogOut({{request.user.username}})
            </a>
          </li>
        {% else %}
          <li class="nav-item text-right"><a class="nav-link"  href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
